body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1a1a1a;
}

/*** fix button and text input alignment issue */
input, button { vertical-align: bottom; }
/*** fix default outline */
input:focus, button:focus { outline: none; }
/*** fix default border */
button { border: initial; }

#main, #sidebar {
  float: left;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

#main {
  width: calc(.7*70%);
  height: 100%;
  margin: 0 0 0 15%;
  background: #333333;
}

.main-subsection {
  width: calc(100% - 16px);
  margin: 8px 8px 0 8px;
  background: #1a1a1a;
  border-radius: 4px;
}

#sidebar {
  width: calc(.7*30% - 16px);
  height: 100%;
  margin: 0 0 0 16px;
  /* border-left: 16px solid #1a1a1a; */
  background: #333333;
}

#filter-bar {
  height: 64px;
  font-size: 0; /* fix stupid whitespace preservation between buttons */
}

.filter-button {
  width: 48px;
  height: 48px;
  margin: 8px 0 8px 8px;
  border-radius: 4px;
  background-color: #1a1a1a;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

#anemo {background-image: url("/assets/element/anemo.png");}
#pyro {background-image: url("/assets/element/pyro.png");}
#cryo {background-image: url("/assets/element/cryo.png");}
#electro {background-image: url("/assets/element/electro.png");}
#hydro {background-image: url("/assets/element/hydro.png");}
#geo {background-image: url("/assets/element/geo.png");}
/* #dendro {background-image: url("/assets/element/dendro.png");} */
#bow {background-image: url("/assets/weapon/bow.png");}
#catalyst {background-image: url("/assets/weapon/catalyst.png");}
#claymore {background-image: url("/assets/weapon/claymore.png");}
#polearm {background-image: url("/assets/weapon/polearm.png");}
#sword {background-image: url("/assets/weapon/sword.png");}

/* #reset {
  float: right;
  margin: 8px;
  background: darkred;
} */

.active-filter {
  background-color: purple;
}

/* img .element-filter {
  margin: 8px 0 8px 8px;
} */

/* #filter-search {
  width: 60%;
  height: 16px;
  margin: 8px 0 8px 8px;
  padding: 0 0 0 2px;
  border: 0;
  background: gray;
} */

#list {
  height: calc(100% - 64px - 3*8px);
  overflow-y: scroll;
}

.list-element {
  float: left;
  width: calc(100% - 16px);
  height: 128px;
  overflow: hidden;
  margin: 8px 8px 0 8px;
  background: #333333;
  border-radius: 4px;
  font: bold 12px sans-serif;
  color: aliceblue;
}

.list-element:last-child {
  margin-bottom: 8px;
}

.list-element > * {
  float: left;
}

.character-badge {
  position: relative;
  width: 92px;
  height: 112px;
  margin: 8px 0 8px 8px;
}

.character-name {
  float: left;
  width: 100%;
  padding-top: 4px;
  text-align: center;
  font-size: 16px;
}

.character-img {
  float: left;
  width: 92px;
  height: 92px;
}

.badge-img {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: #1a1a1a;
}

.element-img {
  top: 0;
  right: 0;
}

.weapon-img {
  top: 20px;
  right: 0;
}

.character-info {
  width: calc(100% - 116px);
  height: calc(100% - 16px);
  margin: 8px;
  font-weight: normal;
}

.info-col-1 {
  float: left;
  width: calc(50% - 8px);
  /* height: 100%; */
  padding-left: 4px;
}

.material-badge {
  float: left;
  width: 56px;
  height: calc(100% - 16px);
  margin: 8px 0 8px 8px;
  vertical-align: center;
}

.material-name {
  float: left;
  width: 100%;
  /* padding-top: 4px; */
  text-align: center;
  font-size: 12px;
}

.material-img {
  /* float: left; */
  width: 56px;
  height: 56px;
  /* margin-top: calc(0.5*(96px - 56px)); */
  object-fit: contain;
}

.info-col-2 {
  float: left;
  width: calc(50% - 8px);
  margin-left: 8px;
}

.info-col-title {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.info-block {
}

.info-label {
  white-space: pre;
}

.info-text {
}

.in-calc {
  background-color: greenyellow;
}

.info-row-1-calc {
  float: left;
  width: 100%;
  /* height: 100%; */
  /* padding-left: 4px; */
}

.info-row-2-calc {
  float: left;
  width: 100%;
  /* margin-left: 8px; */
}


.calc-element {
  float: left;
  width: calc(100% - 16px);
  height: 256px;
  overflow: hidden;
  margin: 8px 8px 0 8px;
  background: #1a1a1a;
  border-radius: 4px;
  font: bold 12px sans-serif;
  color: aliceblue;
}

.calc-element:last-child {
  margin-bottom: 8px;
}

.calc-element > * {
  float: left;
}

.calc-info {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
  font-weight: normal;
}

.calc-block {
  /* height: ; */
}

.calc-mat-output {
  float: left;
  text-align: center;
  font: bold 12px sans-serif;
  color: aliceblue;
}

/* #anemo {background: rgb(127, 255, 191) !important;}
#pyro {background: rgb(255, 82, 29) !important;}
#cryo {background: rgb(151, 243, 255) !important;}
#electro {background: rgb(222, 137, 255) !important;}
#hydro {background: rgb(49, 80, 255) !important;}
#geo {background: rgb(251, 255, 0) !important;}
#dendro {background: rgb(0, 211, 11) !important;} */
